/* =========================
   HERO SECTION
========================= */

.hero {
  padding: 0px 0 40px;
  background: #f8f8f8;
  overflow: hidden;
}

/* Swiper wrapper */
.hero-swiper {
  padding-bottom: 32px;
}

/* =========================
   SLIDES (DO NOT FLEX!)
========================= */

.swiper-slide {
  height: auto;
}

/* =========================
   HERO CARD
========================= */

.hero-card {
  width: 100%;
  height: 560px;
  border-radius: 28px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  position: relative;
  overflow: hidden;

  transform: scale(0.88);
  opacity: 0.75;

  transition:
    transform 0.6s ease,
    opacity 0.4s ease,
    box-shadow 0.4s ease;
}

/* Active slide */
.swiper-slide-active .hero-card {
  transform: scale(1);
  opacity: 1;
  box-shadow: 0 32px 80px rgba(0, 0, 0, 0.28);
}

/* Adjacent slides */
.swiper-slide-prev .hero-card,
.swiper-slide-next .hero-card {
  transform: scale(0.94);
  opacity: 0.9;
}

/* =========================
   MOBILE (FULL WIDTH)
========================= */

@media (max-width: 767px) {
  .hero-swiper {
    padding: 16px 16px;
    margin-top: 20px;

  }

  .hero-card {
    height: 230px;
    transform: scale(1);
    opacity: 1;
  }

  .swiper-slide-prev .hero-card,
  .swiper-slide-next .hero-card {
    transform: scale(1);
    opacity: 1;
  }
}

/* =========================
   TABLET (BIG CARD)
========================= */

@media (min-width: 768px) and (max-width: 1023px) {
  .hero-card {
    height: 520px;
    transform: scale(0.95);
    opacity: 0.95;
  }
  .hero-swiper {
    padding: 16px 16px;
    margin-top: 20px;
  }
}

/* =========================
   LAPTOP / DESKTOP
========================= */

@media (min-width: 1024px) {
  .hero-swiper {
    /* max-width: 1200px; */
     padding: 16px 16px;
    margin-top: 20px;
  }

  .hero-card {
    height: 560px;
    width: 700px;
  }

  .swiper-slide-active .hero-card {
  transform: scale(1);
  opacity: 1;
  box-shadow: 0 32px 80px rgba(0, 0, 0, 0.28);
}
}

/* =========================
   NAVIGATION
========================= */

.hero .swiper-button-prev,
.hero .swiper-button-next {
  display: none;
}

@media (min-width: 1024px) {
  .hero .swiper-button-prev,
  .hero .swiper-button-next {
    display: flex;
    color: #111;
  }
}

/* =========================
   PAGINATION
========================= */

.hero .swiper-pagination-bullet {
  background: #bbb;
  opacity: 1;
}

.hero .swiper-pagination-bullet-active {
  background: #111;
}

.swiper-slide-active .hero-card {
  transform: scale(1) translateY(-6px);
}
